<!-- About Page-->
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Jack Mack</h1>
    <p>Welcome to my blog.</p>
    <p>I'm like to think I'm a nice guy. Hope you like my blog.</p>
  </div>
</div>
